
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Car Inventory Management</title>
    <meta name="description" content="An easy way to track your inventory!">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
      <header>
      <h1>Dealership Inventory Management</h1>
      <nav>
        <h3><a href="/">Inventory</a></h3>
        <h3><a href="/addcar">Add Car</a></h3>
      </nav>
    </header>
 <!-- The Start of Where the Inventory will be listed. -->   
    <section class="inventory-holder">
      <!-- Start of Sample Inventory Listing -->
      <div class="listing">
        <div class="image">
          <img src="https://hips.hearstapps.com/amv-prod-cad-assets.s3.amazonaws.com/media/assets/submodel/8640.jpg" />
        </div>
        <div class="details">
          <div class="quick-facts">
            <p class="make">
              Tesla
            </p>
            <p class="model">
              Model S
            </p>
            <p class="price">
              $100,000
            </p>
            <p class="year">
              2018
            </p>
            <p class="color">
              Silver
            </p>
          </div>
          <div class="specs-highlights">
            <ul class ="specs">Specs:<br><br>
              <li>1.4L</li>
              <li>Gasoline</li>
              <li>Automatic</li>
              <li>26 city/38 hwy</li>
            </ul>
            <ul class="highlights">Highlights:<br><br>
              <li>Bluetooth</li>
              <li>Satellite Radio</li>
              <li>Keyless Entry</li>
              <li>Traction Control</li>
            </ul>
          </div>
          <div class="description">
            <p>
              Great Car should sell for over $10,000 to the right person. 
            </p>
          </div>
        </div>
      </div>
       <div>
        
      </div>
      <!-- End of Sample Inventory Listing -->
    </section>
    

  </body>
</html>
