
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Car Inventory Management</title>
    <meta name="description" content="An easy way to track your inventory!">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <!-- Script for Listings -->
  </head>
  <body>
      <header>
      <h1>Dealership Inventory Management</h1>
      <nav>
        <h3><a href="/">Inventory</a></h3>
        <h3><a href="/addcar">Add Car</a></h3>
      </nav>
    </header>
 <!-- The Start of Where the Inventory will be listed. -->   
    <section id="inventory-holder">
    
    </section>
    

  </body>
</html>
